.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 16rem;
  min-height: 100vh;
  max-height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  transition-property: transform;
  transition-duration: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.sidebar-container.translate-x-0 {
  transform: translateX(0);
}
.sidebar-container.translate-x-full {
  transform: translateX(-100%);
}
.sidebar-logo-conatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 40px;
  height: 60px;
}
.cross {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-logo p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #030229;
}

.sidebar-menue {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
}
.Sidebar-menue-item {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 700;
}
.Sidebar-menue-item:hover {
  color: #605bff;
}

.Sidebar-menue-item:hover svg path {
  fill: #605bff;
}

@media only screen and (min-width: 600px) {
  .cross {
    display: none;
  }
}
